@model EcosistemasMarinos.Entidades.EspecieMarina

<h1>Asociar especie con ecosistema</h1>

 <form asp-action="Asociar">
<h3>Elija una especie</h3>
<div class="form-group">
    <label for="EspecieMarina">Especie</label>
        <select class="form-control" asp-for="Id" required>
        <option disabled>-- Seleccione una especie --</option>
        @foreach (var es in ViewBag.Especies)
        {
            <option value="@es.Id">@es.NombreVulgar</option>
        }
    </select>
</div>

<h3>Elija un ecosistema</h3>
<div class="form-group">
    <label for="EcosistemaMarino">Ecosistema</label>
        <select class="form-control" asp-for="_ecosistemas" required>
        <option disabled>-- Seleccione un ecosistema --</option>
        @foreach (var e in ViewBag.Ecosistemas)
        {
            <option value="@e.IdEcosistema">@e.Nombre</option>
        }
    </select>
</div>

    <!-- Campos ocultos para almacenar el ID de la especie y el ID del ecosistema -->
    <input type="hidden" asp-for="Id" name="EspecieId" />
    <input type="hidden" asp-for="_ecosistemas" name="EcosistemaId" />

<div class="form-group pt-3">
    <input type="submit" value="Asociar" class="btn btn-primary" />
</div>


</form>