@model Ecosistemas_Marinos.Entidades.Configuracion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Configuracion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreAtributo" class="control-label"></label>
                <input asp-for="NombreAtributo" class="form-control" />
                <span asp-validation-for="NombreAtributo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopeSuperior" class="control-label"></label>
                <input asp-for="TopeSuperior" class="form-control" />
                <span asp-validation-for="TopeSuperior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopeInferior" class="control-label"></label>
                <input asp-for="TopeInferior" class="form-control" />
                <span asp-validation-for="TopeInferior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
